{
  "log": {
    "loglevel": "{{ marzban_xray_log_level }}"
  },
  "inbounds": [
    {
      "tag": "VLESS_TCP_TLS",
      "listen": "{{ marzban_xray_listen }}",
      "port": {{ marzban_xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": [],
        "decryption": "none",
        "fallbacks": [
          {
            "dest": {{ marzban_nginx_fallback_port }},
            "xver": {{ marzban_xray_fallback_xver }}
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "serverName": "{{ marzban_domain }}",
          "minVersion": "{{ marzban_xray_tls_min_version }}",
{% if marzban_xray_cipher_suites != "" %}
          "cipherSuites": "{{ marzban_xray_cipher_suites }}",
{% endif %}
          "certificates": [
            {
              "ocspStapling": 3600,
              "certificateFile": "{{ marzban_cert_dir }}/{{ marzban_domain }}-fullchain.cer",
              "keyFile": "{{ marzban_cert_dir }}/{{ marzban_domain }}.key"
            }
          ],
          "alpn": {{ marzban_xray_alpn | to_json }}
        }
      },
      "sniffing": {
        "enabled": {{ marzban_xray_sniffing_enabled | lower }},
        "destOverride": [
          "http",
          "tls",
          "quic"
        ]
      }
    }{% for inbound in marzban_xray_extra_inbounds %},
    {{ inbound | to_json(indent=4) | indent(4) }}{% endfor %}
  ],
  "outbounds": [
    {
      "tag": "DIRECT",
      "protocol": "freedom"
    },
    {
      "tag": "BLACKHOLE",
      "protocol": "blackhole"
    }
  ],
  "routing": {
    "rules": [
{% if marzban_xray_captive_portal_fix | bool %}
      {
        "outboundTag": "DIRECT",
        "domain": [
          "full:cp.cloudflare.com",
          "domain:msftconnecttest.com",
          "domain:msftncsi.com",
          "domain:connectivitycheck.gstatic.com",
          "domain:captive.apple.com",
          "full:detectportal.firefox.com",
          "domain:networkcheck.kde.org",
          "full:*.gstatic.com"
        ],
        "type": "field"
      },
{% endif %}
{% if marzban_xray_block_private_ip | bool %}
      {
        "type": "field",
        "ip": [
          "0.0.0.0/8",
          "10.0.0.0/8",
          "100.64.0.0/10",
          "127.0.0.0/8",
          "169.254.0.0/16",
          "172.16.0.0/12",
          "192.0.0.0/24",
          "192.168.0.0/16",
          "198.18.0.0/15",
          "198.51.100.0/24",
          "203.0.113.0/24",
          "::1/128",
          "fc00::/7",
          "fe80::/10"
        ],
        "outboundTag": "BLACKHOLE"
      }
{% endif %}
    ]
  }
}
